
.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-dark-grey;

    &__column {
        padding: 1rem 1.5rem;
    }

    &__contact-item {
        list-style: none;
        
    }
    
    &__contact-link {
        color: white;
        padding: .25rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        
    }

    .footer__contact-icon {
        font-size: 1.5rem;
        &--facebook {
            color: #38529a;
        } 
    }
    

}
@media screen and (min-width: 600px) {
    .footer {
        flex-direction: row;
    }
}  